<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--8-col-phone">
      <!-- <h4>sanity check, movies index view is linked</h4> -->
        <div ng-repeat="movie in moviesIndexCtrl.movies">
          <ul class="movies-list">
            <li class="one-movie">
              <h3>{{movie.Title}} (<span class="movie-year">{{movie.Year}}</span>) <span class=movie-rating>{{movie.Rated}}</span></h3>
              <hr>
              <h4>Director: <span class="movie-director">{{movie.Director}}</span></h4>
              <h4>Notable Actors: </h4>
              <p>{{movie.Actors}}</p>
              <p>{{movie.Plot}}</p>
              <h4>Do you agree?</h4>
              <p>{{movie.upVotes}} UpVotes</p>
              <button ng-model="upVotes" ng-click="moviesIndexCtrl.voteUp(movie)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Vote Up</button>
              <p>{{downVotes}} downVotes</p>
              <button ng-model="downVotes" ng-click="moviesIndexCtrl.voteDown(movie)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Vote Down</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
