<div class="container">
  <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="movie in moviesIndexCtrl.movies">
          <ul>
            <li>
              <div class="movie-headline">
                <h3>{{movie.Title}} (<span class="movie-year">{{movie.Year}}</span>) <span class=movie-rating>{{movie.Rated}}</span></h3>
              </div>
              <hr>
              <h4>Director: <span class="movie-director">{{movie.Director}}</span></h4>
              <h4>Notable Actors: </h4>
              <p>{{movie.Actors}}</p>
              <p>{{movie.Plot}}</p>
              <h4>Do you agree?</h4>
              <button ng-model="upVotes" ng-click="upVote = true" class="btn btn-default">Vote Up</button>
              <button ng-model="downVotes" ng-click="downVote = true" class="btn btn-default">Vote Down</button>
              <button ng-show="upVote" class="btn btn-default glyphicon glyphicon-upload"></button>
              <button ng-show="downVote" class="btn btn-default glyphicon glyphicon-download"></button>
          </li>
        </ul>
      </div>
  </div>
</div>
