<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--8-col-phone">
      <!-- <h4>sanity check, movies index view is linked</h4> -->
        <div ng-repeat="movie in moviesIndexCtrl.movies">
          <ul class="movies-list">
            <li class="one-movie">
              {{movie}}
              <h2>{{movie.title}} (<span class="movie-year">{{movie.year}}</span>) <span class=movie-rating>{{movie.rated}}</span></h2>
              <hr>
              <h4>Director: <span class="movie-director">{{movie.director}}</span></h4>
              <h4>Notable Actors: </h4>
              <p>{{movie.actors}}</p>
              <p>{{movie.plot}}</p>
              <h4>Do you agree?</h4>
              <button ng-click="moviesIndexCtrl.voteUp(moviesIndexCtrl.movie)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Vote Up</button>
              <button ng-click="moviesIndexCtrl.voteDown(moviesIndexCtrl.movie)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Vote Down</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
